# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# python cache
__pycache__

# jupyter
.ipynb_checkpoints

# test
test*
Untitled*

# gatherproxy
gatherproxy

# log
log

# song_detail
song_detail

# ide
.idea
.vscode

# data
data
yybzz

.DS_Store

*.csv
*.txt
*.ini

# utils.agent
utils/agent

# history
.history

# tbk
top
picture*
